/QueryBuilder/bin
/QueryBuilder/obj
/QueryBuilder.Tests/bin
/QueryBuilder.Tests/obj
/QueryBuilderSandbox/bin
/QueryBuilderSandbox/obj
/Common/src/bin
/Common/src/obj
/Common/test/bin
/Common/test/obj
/.vs