/.vs
/QueryBuilder/bin
/QueryBuilder/obj
/QueryBuilder.Tests/bin
/QueryBuilder.Tests/obj
/QueryBuilderSandbox/.vs
/QueryBuilderSandbox/bin
/QueryBuilderSandbox/obj
/Common/src/bin
/Common/src/obj
/Common/test/bin
/Common/test/obj
/PostgreSql/src/bin
/PostgreSql/src/obj
/PostgreSql/test/bin
/PostgreSql/test/obj